/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img.gu-image {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    height: auto;
}